html, body {
    background: skyblue;
    margin: 0;
}

body {
    font-size: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

li {
    display: inline;
}

a {
    color: black;
    display: inline-block; 
    text-align: center;
}